<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Upload File to S3</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container">
			<a href="{{ url_for('home.index') }}">
				<button id="homeButton" class="btn btn-light"><i class="fa fa-home"></i> Home</button>
			</a>
			<h1 class="mt-5">Upload File to AWS S3</h1>
			<form action="/upload" method="post" enctype="multipart/form-data" class="mt-4">
				<p class="card-text">Choose a file to upload it to AWS S3</p>
				<input type="file" name="file" class="form-control-file mb-3" />
				<input type="submit" name="upload" value="Upload" class="btn btn-success" />
			</form>
			{% if msg %}
			<div class="alert alert-info mt-3">{{ msg }}</div>
			{% endif %}
		</div>
	</body>
</html>
